 <% include ../partials/header %>

<div class="container">

  <% if (typeof message !== 'undefined') {
    if (message === 'new') { %>
      <div class="success">
        O documento <strong><%= imovel._id %></strong> foi criado com sucesso.
      </div>
    <% }
    if (message === 'edit') { %>
      <div class="notice">
        O documento <strong><%= imovel._id %></strong> foi atualizado com sucesso.
      </div>
    <% }
  } %>

  <section class="col-md-9">
    <h3><%= imovel._id %></h3>
    <div class="imovel">
      <strong>Bairro: <%= imovel.bairro %></strong>
      <p>Área: <%= imovel.area %>m²</p>
      <p class="preco"><%= imovel.preco %></p>
      <p>Dormitórios: <%= imovel.dormitorios %></p>
      <p>Banheiros: <%= imovel.banheiros %></p>
      <p>Vagas na garagem: <%= imovel.vagasGaragem %></p>
    </div>

    <a href="/">Voltar</a> |
    <a href="/imoveis/<%= imovel._id %>/editar">Editar</a> |
    <a href="/imoveis/<%= imovel._id %>/excluir">Excluir</a>

  </section>

</div>

 <% include ../partials/footer %>
